# Pandas
* conda install pandas
* pip install pandas

## Series
A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [ ]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=my_list)

In [ ]:
pd.Series(data=my_list,index=labels)

In [ ]:
pd.Series(my_list,labels)

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(arr,labels)

In [ ]:
pd.Series(d)

### Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
pd.Series(data=labels)

In [ ]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [ ]:
ser1

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser2

In [ ]:
ser1['USA']

In [ ]:
ser1 + ser2

# DataFrames
DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
pd.DataFrame()

In [ ]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
df

In [ ]:
df['W']

In [ ]:
type(df['W'])

In [ ]:
type(df)

In [ ]:
df.W

In [ ]:
df['W','Z']

In [ ]:
# Error
# df['new']
df['new']=df['W']+df['Y']

In [ ]:
df

In [ ]:
#Error
#df.drop('new')

df.drop('new',axis=1)

In [ ]:
df.drop('new',axis=1)

In [ ]:
df

In [ ]:
df.drop('new',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.drop('E')
# equals to df.drop('E',axis=0)

In [ ]:
df.shape

In [ ]:
df

In [ ]:
df[['X','Y']]

In [ ]:
#ROWS
df.loc['C']

In [ ]:
df['X']

In [ ]:
df.iloc[2]

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

## Conditional Selection

In [ ]:
df > 0

In [ ]:
booldf=df>0

In [ ]:
df[booldf]

In [ ]:
df[df>0]

In [ ]:
df>0

In [ ]:
df['W']>0

In [ ]:
df[df['W']>0]

In [ ]:
df[df['Z']<0]

In [ ]:
resultdf=df[df['W']>0]

In [ ]:
df

In [ ]:
resultdf['X']

In [ ]:
df[df['W']>0]['X']

In [ ]:
df[df['W']>0].loc[['Y','X']]

In [ ]:
boolser=df['W']>0

In [ ]:
boolser

In [ ]:
result=[boolser]

result

In [ ]:
mycols=['X','Y']
result[mycols]

In [ ]:
df[df['W']>0]

In [ ]:
#Error: df[(df['W']>0) and df['Y']>1)]
df[(df['W']>0) & (df['Y']>1)]

In [ ]:
df[(df['W']>0) or df['Y']>1)]

In [ ]:
#Error: df[(df['W']>0) or df['Y']>1)]
df[(df['W']>0) | (df['Y']>1)]

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
#df.reset_index(inplace=True)

In [ ]:
newind= 'CA NY WY OR CO'.split()

In [ ]:
newind

In [ ]:
df['States']=newind

In [ ]:
df

In [ ]:
df.reset_index()
df.set_index('States')

In [ ]:
df

## Multi-Index and Index Hierarchy

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index = list(zip(outside,inside))

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1',1]) # cross section method

In [ ]:
df.xs(1,level='Num')

# Missing Data

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
df['A'].fillna(value=df['A'].mean())

# Groupby

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.groupby('Company')

In [ ]:
by_comp = df.groupby("Company")

In [ ]:
by_comp.mean()

In [ ]:
df.groupby('Company').mean()

In [ ]:
by_comp.std()

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

In [ ]:
by_comp.describe().transpose()

In [ ]:
by_comp.describe().transpose()['GOOG']

# Merging, Joining, and Concatenating

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

## Concatenation

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together:

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

_____
## Example DataFrames

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

## Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together.

In [ ]:
pd.merge(left,right,how='inner',on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

## Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

# Operations

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

### Info on Unique Values

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

### Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col1'].sum()

In [ ]:
del df['col1']

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df

In [ ]:
df.sort_values(by='col2') #inplace=False by default

In [ ]:
df.isnull()

In [ ]:
# Drop rows with NaN Values
df.dropna()

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.fillna('FILL')

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

# Data Input and Output

## CSV

### CSV Input

In [ ]:
df = pd.read_csv('session3-csv-example-1.csv')
df

### CSV Output

In [ ]:
df.to_csv('session3-csv-example-1.csv',index=False)

## Excel

### Excel Input

In [ ]:
pd.read_excel('session3-excel-example-1.xlsx',sheetname='Sheet1')

### Excel Output

In [ ]:
df.to_excel('session3-excel-example-1.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

### HTML Input

In [ ]:
df = pd.read_html('https://www.cbi.ir/Inflation/Inflation_fa.aspx',encoding='UTF-8')

In [ ]:
df[0]

# SQL

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [ ]:
import pyodbc
trusted_conn_str = ('SERVER=127.0.0.1;'     +
                    'DATABASE=master;' +
                    'TRUSTED_CONNECTION=yes')

In [ ]:
conn = pyodbc.connect(
    r'DRIVER={ODBC Driver 13 for SQL Server};' +
    trusted_conn_str
    )

cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT @@SERVERNAME')

In [ ]:
for entry in cursor:
    print(entry)